nav.dark,
header .sm-navbar.dark,
.product-container.dark .add-wishlist,
.product-container.dark .add-cart button,
.product-container.dark .body,
.products-slider-container.dark .add-wishlist,
.products-slider-container.dark .add-cart button,
.products-slider-container.dark .body,
.product-banner.dark li,
.trending-product-container.dark .add-cart button,
.trending-product-container.dark .body,
.trending-product-container.dark .add-wishlist,
.products-tabs.dark .nav-link.active,
.questions.dark .accordion-button,
.questions.dark .accordion-item,
  body.dark {
  background-color: var(--bg-dark-primary) !important;
}

nav.dark span,
nav i,
header .sm-navbar.dark span,
header .sm-navbar.dark i,
.login-modal.dark,
.login-modal.dark h2,
.lg-navbar-list.dark a,
.questions.dark .accordion-item,
.questions.dark .accordion-button,
.lg-navbar-list.dark .price-card span,
.lg-navbar-list.dark .price-card i,
.setting-offcanvas.dark h3,
.setting-offcanvas.dark label,
.setting-offcanvas.dark span,
.product-container.dark .add-cart button,
.product-container.dark .add-wishlist button,
.products-slider-container.dark .add-cart button,
.products-slider-container.dark .add-wishlist button,
.trending-product-container.dark .add-cart button,
.trending-product-container.dark .add-wishlist button,
.all-category-cards.dark .card-box h3,
.product-container.dark .title a,
.products-slider-container .title a,
.trending-product-container.dark .title a,
.menu-bar-offcanvas-overlay.dark .menu-bar-offcanvas a,
.menu-bar-offcanvas-overlay.dark .menu-bar-offcanvas i,
.menu-bar-offcanvas-overlay.dark .menu-bar-offcanvas h3,
.category-gallery.dark .img-box .category-info h3,
.our-services.dark .card-box h5,
.product-banner.dark h3,
.featured-product-container.dark .info h3,
.masterTitle h3,
.questions.dark h3,
.products-tabs.dark .nav h2,
.products-tabs.dark .nav-link .title,
.products-tabs.dark .nav-link.active .sub-title,
.product-banner.dark li,
nav.dark a {
  color: #cecece !important;
}
.products-tabs.dark .nav-link .sub-title{
  color: #8d8c8c !important;
}
.login-modal.dark,
.setting-offcanvas.dark,
.product-container.dark,
.trending-product-container.dark,
.all-category-cards.dark .card-box,
.category-gallery.dark .img-box .category-info,
.search-modal-overlay.dark .main-input,
.our-services.dark .card-box,
.featured-product-container.dark .info,
.product-banner.dark,
.products-tabs.dark .nav,
.questions.dark,
.menu-bar-offcanvas-overlay.dark .menu-bar-offcanvas,
.menu-bar-offcanvas-overlay.dark .menu-bar-offcanvas .menu-bar-offcanvas-header,
.lg-navbar-list.dark .dropdown-menu {
  background-color: var(--bg-dark-secondary) !important;
}
